body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #008080; /* Windows 98 teal color */
}

/* CSS for Start Menu */
#startMenu {
    position: fixed;
    bottom: 40px; /* Height of the bottom bar */
    left: 0;
    width: 200px; /* Adjust as needed */
    background-color: #c3c3c3;
    border: 1px solid #000000;
    padding: 5px;
}

.desktop-icons{
  
  .desktop-icon{
    width: 115px;
    height: 50px;
    color: #fff;
    text-align: center;
    background: no-repeat center top;
    padding-top: 55px;
    margin: 10px;
    
    &.my-computer{
      background-image: url(https://win98icons.alexmeub.com/icons/png/computer_explorer-5.png);
    }
    &.my-documents{
      background-image: url(https://win98icons.alexmeub.com/icons/png/directory_open_file_mydocs-4.png);
    }
    
    &.gmwingman{
      background-image: url("GMWingman/8bitdice.png");
    }
    
    &.trash-empty{
      background-image: url(https://win98icons.alexmeub.com/icons/png/recycle_bin_empty-4.png);
    }
  }
}

.window-body {
    display: flex;
    flex-direction: column;
    justify-content: flex-end; /* Aligns content to the bottom */
    height: 100%; /* Ensures the body takes the full height of the window */
    padding: 0px; /* Optional padding */
    font: apparel;
    margin: 0px;
}
